<header>
    <span>Node <em>&</em> Express</span>
    <nav>
        <a href="/">Главная</a>
        <a href="/about">О нас</a>
        <a href="/contact">Контакты</a>
        <a href="/user/jorn">Войти</a>
    </nav>
    <form method="post" action="/check-user">
        <input type="text" name="username" placeholder="Поиск">
        <button type="submit">Найти</button>
    </form>
</header>